{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block contenu_page %}
    <section>
        <nav class="flex space-x-6 text-gray-400 font-medium">
            <a href="{{ path('series_index') }}" class="hover:text-gray-700">Séries</a>
            <a href="{{ path('movies_index') }}" class="text-gray-700 font-semibold">Films</a>
            <a href="#" class="hover:text-gray-700">Animés</a>
        </nav>

        <div class="flex flex-col justify-between mt-4 bg-black/10 bg-blend-multiply rounded-3xl h-80 overflow-hidden bg-cover bg-center px-7 pt-4 pb-6 text-white"
             style="background-image: url('{{ latestMovies[0].coverImage }}');">
            <div class="flex -space-x-1 items-center">
                {% for history in watchHistory|slice(0, 3) %}
                    <img class="rounded-full w-7 h-7 shadow-lg border border-white"
                         src="https://ui-avatars.com/api/?name={{ history.watcher.username }}"
                         alt="{{ history.watcher.username }}">
                {% endfor %}
                <span class="pl-4 text-xs drop-shadow-lg">
                    {% if watchHistory|length > 0 %}
                        Regardé par {{ watchHistory|length }} utilisateur{{ watchHistory|length > 1 ? 's' }}
                    {% endif %}
                </span>
            </div>

            <div class="bg-gradient-to-r from-black/40 to-transparent -mx-7 -mb-6 px-7 pb-6 pt-2">
                <span class="uppercase text-3xl font-semibold drop-shadow-lg">{{ latestMovies[0].title }}</span>
                <div class="text-xs text-gray-200 mt-2">
                    {% for category in latestMovies[0].categories %}
                        <a href="{{ path('show_category', {id: category.id}) }}" class="">{{ category.nom }}</a>
                        {%- if not loop.last -%}, {% endif %}
                    {% endfor %}
                </div>
                <div class="mt-4 flex items-center justify-between">
                    <div class="flex space-x-3 items-center">
                        <a href="{{ path('show_movie', {id: latestMovies[0].id}) }}"
                           class="px-5 flex py-2.5 bg-red-600 hover:bg-red-700 rounded-lg text-xs inline-block">
                            <svg class="h-4 w-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <title>play-box</title>
                                <path d="M19 3H5C3.89 3 3 3.89 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3M10 16V8L15 12"></path>
                            </svg>
                            Regarder
                        </a>
                        <button class="p-2.5 bg-gray-800/80 rounded-lg hover:bg-red-600">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-9">
        <div class="flex items-center justify-between">
            <span class="font-semibold text-gray-700 text-base">Films récents</span>
        </div>

        <ul class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
            {% for movie in latestMovies %}
                {% include 'parts/movie_card_homepage.html.twig' with {'movie': movie} %}
            {% endfor %}
        </ul>
    </section>

    <section class="mt-9">
        <div class="flex items-center justify-between">
            <span class="font-semibold text-gray-700 text-base">Séries récentes</span>
        </div>

        <ul class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
            {% for serie in latestSeries %}
                {% include 'parts/movie_card_homepage.html.twig' with {'movie': serie} %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}